<h3>Authentication</h3>


<h1>Sign In</h1>
<button @onclick="HidePopup">&times;</button>



<h5>Username : </h5>
<input type="text" />


<h5>Password : </h5>
<input type="password" />


@code {
	public void HidePopup()
	{
		
	}

}
