.body {
    background-color:blueviolet;
}


/*.Chat {
    display: grid;
    grid-template-columns: 2fr 8fr;*/ /* 2/10 for ChatTabs, 8/10 for ChatWindow */
    /*height: 100vh;*/ /* Full viewport height */
    /*border: 1px solid #ddd;
}

.ChatTabs {
   background-color:aqua;
}

.ChatWindow {
    padding: 15px;
    background-color: #fff;
    overflow-y: auto;
}*/
