@using FlintecChatBotApp.Resources.Languages
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<MyStrings> Localizer













          <div >


                <h4>Settings</h4>


                <h5>Language</h5>

                <select class="form-control" @bind="Culture">
                    @foreach (var culture in cultures)
                    {
                        <option value="@culture">@culture</option>
                    }
                </select>


                <h5>Country</h5>

                <select class="form-control" >
                    @foreach (var country in countries)
                    {
                        <option value="@country">@country</option>
                    }
                </select>

        </div>
 


@*

 @code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }

    private async Task HidePopup()
    {
        IsVisible = false;
        await IsVisibleChanged.InvokeAsync(IsVisible);
    }
} *@


 @code {


        CultureInfo[] cultures = new[]
        {
                 new CultureInfo("en"),
                 new CultureInfo("nl"),
                 new CultureInfo("nl"),
                 new CultureInfo("nl"),
                 new CultureInfo("nl"),
                 new CultureInfo("nl"),
                 new CultureInfo("nl"),
                 new CultureInfo("nl"),
                 new CultureInfo("nl")

    };


        CultureInfo Culture
        {
            get => CultureInfo.CurrentCulture;


            set
            {
                if (CultureInfo.CurrentCulture != value)
                {
                    Thread.CurrentThread.CurrentCulture = value;
                    Thread.CurrentThread.CurrentCulture = value;
                    CultureInfo.DefaultThreadCurrentCulture = value;
                    CultureInfo.DefaultThreadCurrentUICulture = value;
                    Preferences.Set("language", value.Name);

                }
            }


        }




        public List<string> countries = ["USA", "United Kingdom", "Australia", "Sri Lanka"];


}

