body[b-xi5qal14c2], html[b-xi5qal14c2] {
    height: 100vh;
    padding: 0;
    margin:0;
    background-color: yellow;
}

.sideBar[b-xi5qal14c2] {
    height: 100vh; 
    background-color: green;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /
}

.sideBarTop[b-xi5qal14c2] {
    background-color: navy;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.sideBarPane[b-xi5qal14c2] {
    background-color: navajowhite;
    width:100%;
    flex-grow:1;
}


.sideBarIcon[b-xi5qal14c2], .newChatIcon[b-xi5qal14c2] {
    height: 20px;
    width: 20px;
    display: block;
    margin-bottom: 10px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.newChatIcon[b-xi5qal14c2] {
    height: 20px;
    width: 20px;
}



.SettingsPopUp[b-xi5qal14c2] {
    width:100px;
    height:100px;
}


.ChatLogName[b-xi5qal14c2] {
    padding:10px 0px 10px 0px;
   

}

.ChatLogName:hover[b-xi5qal14c2]{
    background-color:aquamarine;
}