@rendermode InteractiveServer
@inject IJSRuntime JS
 


<div class="sideBar">


    <div class="sideBarTop">
        <img src="sideBar.png" class="sideBarIcon" @onclick="ToggleSideBar" />
        <img src="newChat.png" class="newChatIcon"  @onclick="NewChat"/>
    </div>



    @if (isSideBar)
    {

        <div class="sideBarPane">

            @if (chatHeader.Count > 0)
            {
                @foreach (var tab in chatHeader)
                {
                    <div>@tab</div>
                }

            }


            else
            {
                <h3>Nothing in here </h3>

            }

         </div>

   

    }
  
    
</div>



<script>
    window.getLocalStorageKeys = function()
    {
    return Object.keys(localStorage); 
}
</script >


