@rendermode InteractiveServer


<div class="sideBar">
    <div class="sideBarTop">
        <img src="sideBar.png" class="sideBarIcon" @onclick="ToggleSideBar" />
        <img src="newChat.png" class="newChatIcon" />
    </div>



    @if (isSideBar)
    {

        <div class="sideBarPane">
            <p>MyPane</p>
            Hi
        </div>

    }
    
    
</div>

@code {
    private bool isSideBar = false; 

    public void ToggleSideBar()
    {
        isSideBar = !isSideBar; 
    }
}
