<div class="top-row ps-3 navbar navbar-pink">


    <div class="ChatIconDiv">
        <img src="sideBar.png" class="ChatIcon" />
        <img src="chatIcon2.png" class="ChatIcon" />
     </div>




    <div class="text-white position-fixed bottom-0 w-100">
        <h5>Settings</h5>
    </div>















</div>




<!--


<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

  <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
      <nav class="flex-column">
          <div class="nav-item px-3">
              <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                  <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
              </NavLink>
          </div>
      </nav>
    -->
    <!--
    <img src="settings.png" alt="Settings" class="width:20px" />
    -->




<style>



</style>