@inject UserQuestions userquestionComponent;


<div class="suggestionsContainer">
    @foreach (string suggestion in suggestedQuestions)
    {
        <div class="suggestionBlock" @onclick="() => SelectSuggestion(suggestion)">
            <p>@suggestion</p>
        </div>
    }
</div>

@code {

    public string? selectedSuggestion;


    [Parameter]
    public EventCallback<string> OnSuggestionSelected { get; set; } 

    List<string> suggestedQuestions = new List<string>
    {
        "What are the employee benefits",
        "What are the sick leave policies",
        "What is the company vision",
        "What are the company goals"
    };

   


    private void SelectSuggestion(string suggestion)
    {
        OnSuggestionSelected.InvokeAsync(suggestion);
    }


}
