@page "/"
@rendermode InteractiveServer




<div>
    <h3>Flintec</h3>
</div>

<div class="ChatContainer">
   
     <div class="ChatMessageWindow">
	
 	    @if (userMessages.Count > 0)
 	    {
 		    @foreach (string message in userMessages)
 		    {


                <p class="displayChatMessage">@message</p>


                <div class="messageContainer">
                    <div class="chatIconContainer">
                        <img src="flintec_logo.png" class="chatIcon" alt="Flintec Logo" />
                    </div>
                    <p class="displayReplyMessage">@answer</p>
                </div>
                 
 		    }
 	    }

    
     </div>


    <div class="inputBar">
        <input type="text" id="messageInput" class="inputField" placeholder="Type your message here..." />
        <button id="sendButton" class="sendButton">Send</button>
    </div>

    
     <div class="ConditionText">
        <p> </p>
     </div>




 </div>




@code {


    private string? userMessage;
    private string? answer = @"
        Lorem Ipsum is simply dummy text of the printing and typesetting 
        industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
        PageMaker including versions of Lorem Ipsum.";

    List<string> userMessages = new();
    List<string> suggestionQuestions = new();

    List<string> country = new();
    List<string> Language = ["English", "French", "Spanish", "Italian", "Hindi", "Dutch", "German", "Korean", "Sinhala", "Vietnamese"];



    public void ChatMessageSubmit()
    {
        if (!string.IsNullOrEmpty(userMessage))
        {
            userMessages.Add(userMessage);
            this.userMessage = "454545454";
        }

    }


    public void SuggestionQuestionRequest()
    {

    }





    public void ReplyMessage()
    {
        
    }

}