@page "/"
@rendermode InteractiveServer
@inherits Component
@inject IJSRuntime JS
@inject ILocalStorageService localStorage
@inject UserQuestions userquestionComponent



<div>
    <h3>Flintec</h3>
</div>



<div class="ChatContainer">
   
    <div class="ChatMessageWindow">



        @if (userquestionComponent.userQuestions.Count > 0 )
            

        {
            

            @foreach (string userQuestionStored in userquestionComponent.userQuestions)
            {



                <p class="displayChatMessage">@userQuestionStored</p>

                <div class="messageContainer">
                    <div class="chatIconContainer">
                        <img src="flintec_logo.png" class="chatIcon" alt="Flintec Logo" />
                    </div>
                    <p class="displayReplyMessage">@userAnswer</p>
                </div>
            }
        }


        else
        {

            <Component OnSuggestionSelected="SuggestionSelected" />
        }
    </div>



    <div class="inputArea">
        <div class="inputWrapper">
            <textarea type="text"  id="auto-resize-textarea" class="inputBar" @bind="userQuestion" placeholder="Type your message here..." @onkeydown="EnterKey" />
            <button class="sendButton" @onclick="ChatMessageSubmit">Send</button>
        </div>

        <div class="contactTextContainer">
            <p class="contactText">Contact the company for more details</p>
        </div>
    </div>
</div>



