<div class="modal-overlay" @onclick="CloseSettings" style="@modalStyle">
    <div class="modal-content" @onclick:stopPropagation="true">
        <h2>Settings</h2>

        <h4>Theme</h4>

        <h4>Country</h4>
        <select name="country" id="country" @bind="selectedCountry">
            <option value="USA">USA</option>
            <option value="UK">UK</option>
            <option value="Spain">Spain</option>
            <option value="Italy">Italy</option>
            <option value="Canada">Canada</option>
            <option value="Australia">Australia</option>
            <option value="New Zeland">New Zeland</option>
            <option value="Singapore">Singapore</option>
            <option value="Netharland">Netharland</option>
            <option value="Germany">Germany</option>
            <option value="Austria">Austria</option>
            <option value="South Korea">South Korea</option>
            <option value="Colombia">Colombia</option>
            <option value="Mexico">Mexico</option>
            <option value="Sewden">Sewden</option>
            <option value="Vietnam">Vietnam</option>
            <option value="Brazil">Brazil</option>
            <option value="Sri Lanka">Sri Lanka</option>
        </select>

        <h4>Language</h4>
        <select name="language" id="language" @bind="selectedLanguage">
            <option value="English">English</option>
            <option value="French">French</option>
            <option value="Spanish">Spanish</option>
            <option value="Italian">Italian</option>
            <option value="German">German</option>
            <option value="Swedish">Swedish</option>
            <option value="Hindi">Hindi</option>
            <option value="Dutch">Dutch</option>
            <option value="Sinhala">Sinhala</option>
            <option value="Korean">Korean</option>
            <option value="Portuguese">Portuguese</option>
            <option value="Vietnamese">Vietnamese</option>
        </select>

        <button @onclick="CloseSettings">Close</button>
    </div>
</div>

@code {
    private string modalStyle = "display:block;";
    private string selectedCountry;
    private string selectedLanguage;

    // [Parameter] public EventCallback OnClose { get; set; }

    // private async Task ClosePopup()
    // {
    //     modalStyle = "display:none;";
    //     if (OnClose.HasDelegate)
    //     {
    //         await OnClose.InvokeAsync();
    //     }
    // }




    [Parameter] public EventCallback OnClose { get; set; }

    private async Task CloseSettings()
    {
        await OnClose.InvokeAsync();
    }





}
