.ChatContainer[b-ym0tm32304] {
    background-color: blue;
    margin-right: 0;
}

.ChatMessageWindow[b-ym0tm32304] {
    background-color: yellow;
    max-height: 320px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    margin-left: auto; 
    margin-right: 0px; 
    width: 100%; /
    padding-right: 30px;
    z-index: 1;
    padding-right: 30px;
}


.messageContainer[b-ym0tm32304] {
    display: flex; 
    align-items: center; 
    background-color:blue;
}

.chatIcon[b-ym0tm32304] {
    height: 20px; 
    width: 20px; 
}

.chatIconContainer[b-ym0tm32304] {
    width: 35px; 
    height: 35px; 
    border: 1px solid white; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: 50px; 
    margin-bottom: 100px; 
}



.UserInputBar[b-ym0tm32304] {
    position: fixed; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%);
    display: flex; 
    align-items: center;
    justify-content: center; 
    z-index: 100;
    margin-bottom: 2%;
    width: 100%; 

}


.displayReplyMessage[b-ym0tm32304] {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    max-width: 70%;
    word-wrap: break-word;
    color: black;
}




.displayChatMessage[b-ym0tm32304] {
    display: block; 
    color: white;
    background-color: grey;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: 50px; 
    width: fit-content; 
    max-width: 50%;
    word-wrap: break-word; 
    border-radius: 25px; 
}



.displayReplyMessage[b-ym0tm32304] {
    display: block;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    text-align: left; 
    margin-left: auto; 
    margin-right: 140px;
    margin-left: auto; 
    width: fit-content; 
    max-width: 80%; 
    word-wrap: break-word; 
    text-align: center; 
    border-radius: 7px; 
}

.inputBar[b-ym0tm32304] {
    

    position: fixed; 
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
 
    margin-bottom: 2%;
}

.inputField[b-ym0tm32304] {
    flex-grow: 1; 
    border: none; 
    border-radius: 20px;
    padding: 10px;
    font-size: 16px; 
    outline: none; 
    border-color:grey;
}

.inputField[b-ym0tm32304]::placeholder {
    color: grey; 

.sendButton {
    background-color: deeppink; 
    color: white; 
    border: none; 
    border-radius: 20px; 
    padding: 10px 15px; 
    cursor: pointer; 
    margin-left: 10px; 
    transition: background-color 0.3s;
}

.sendButton:hover[b-ym0tm32304] {
    background-color: hotpink;
