:root[b-fn92favctl] {
    --background1-color: #33322e;
    --background2-color: #47463f;
    --background3-color: #636258;
    --background4-color: #838a85;
    --font-color: white;
    --image-filter: brightness(0) invert(1);
}



.icon-container[b-fn92favctl] {
    display: flex;
    align-items: center;
}

.icon-wrapper[b-fn92favctl] {
    position: relative;
    margin-right: 10px; /* Space between the icons */
    padding: 5px; /* Add some padding around the icon */
    border-radius: 5px; /* Optional: rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
}

    .icon-wrapper:hover[b-fn92favctl] {
        background-color: rgba(0, 0, 0, 0.2); /* Change this to your desired color */
    }

.newIcon[b-fn92favctl] {
    cursor: pointer;
}

.tooltip-text[b-fn92favctl] {
    position: absolute;
    font-size: 14px;
    color: white;
    background-color: black;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    visibility: hidden; /* Hide by default */
    white-space: nowrap;
    z-index: 9999; /* High z-index to ensure visibility */
    top: 0px;
    left: 40px; /* Adjust as needed */
}

    .tooltip-text[b-fn92favctl]::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: transparent black transparent transparent;
    }



/**************************************************************************************************************************/


.icon-wrapper:hover .tooltip-text[b-fn92favctl] {
    visibility: visible; /* Show on hover */
}



.chatTabHover:hover[b-fn92favctl] {
    background-color: var(--background3-color);
    border-radius: 8px;
}


/**************************************************************************************************************************/


.editIconContainer .editMessage[b-fn92favctl] {
    opacity: 0; /* Initial hidden state */
    transition: opacity 0.1s ease; /* Smooth transition */
}

.editIconContainer:hover .editMessage[b-fn92favctl] {
    opacity: 1; /* Make the edit icon visible on hover */
}

/**************************************************************************************************************************/


.overlay[b-fn92favctl] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.MyPopup[b-fn92favctl] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    background: white;
    z-index: 999;
}

.content[b-fn92favctl] {
    text-align: center;
}

/**************************************************************************************************************************/




.ChatTab[b-fn92favctl] {
}


    .ChatTab:hover[b-fn92favctl] {
        background-color: var(--background2-color);
    }

    /* Change background color for active item */
    .ChatTab.active[b-fn92favctl] {
        background-color: ;
    }

/* Style for the symbol */
.dots[b-fn92favctl] {
    font-size: 16px;
    position: absolute;
    padding-left:10px;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
}

/* Show symbol when hovered or active */
.ChatTab:hover .dots[b-fn92favctl],
.ChatTab.active .dots[b-fn92favctl] {
    visibility: visible;
    background-color: var(--background2-color);
}


/****************************************************************************************************************/


.textarAreaPlaceHolder[b-fn92favctl]::placeholder {
    color: lightgray;
}


.textarAreaPlaceHolder[b-fn92favctl] {
    outline: none; /* Removes the default focus outline */
    border: none; /* Removes border to prevent color change */
}

    /* Optional: If you want a specific border color when focused */
    .textarAreaPlaceHolder:focus[b-fn92favctl] {
        outline: none; /* Ensures no outline on focus */
        border: none; /* Keeps border color consistent */
    }



/*********************************************************************************************/


.wrapperTextArea textarea[b-fn92favctl] {
    width: 100%;
    height: 59px;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    resize: none;
    overflow: hidden;
    transition: border-color 0.3s, padding 0.3s;
    max-height: 200px;
}

    .wrapperTextArea textarea:focus[b-fn92favctl],
    .wrapperTextArea textarea:valid[b-fn92favctl] {
        border-width: 2px;
        padding: 14px;
        border-color: red;
    }


    /******************************************************************************************/





#userTextarea[b-fn92favctl] {
    width: 100%;
    height: 59px;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    resize: none;
    overflow: hidden;
    transition: border-color 0.3s, padding 0.3s;
    max-height: 200px;
}

    #userTextarea:focus[b-fn92favctl] {
        border-width: 2px;
        border-color: red;
    }


/****************************************************************************************************************/





.AnimationText[b-fn92favctl] {
    color: white;
    -webkit-font-smoothing: antialiased;
}

    .AnimationText.typing span:last-child[b-fn92favctl] {
        background-color: white;
    }









/*************************************************************************/

/* .dots {
        display: inline-block; /* Allows the dots to be inline with the paragraph */
cursor: pointer; /* Change cursor to indicate clickable */
margin-left: 5px; /* Space between paragraph and dots 
    } */
.popup[b-fn92favctl] {
    position: absolute; /* Positioning the popup */
    background-color: white; /* Background color for popup */
    border: 1px solid #ccc; /* Optional border */
    padding: 10px; /* Padding inside the popup */
    z-index: 100; /* Ensure it appears above other elements */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for effect */
    margin-left: 20px;
}




.paragraph[b-fn92favctl] {
    position: relative;
}

    .paragraph[b-fn92favctl]::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.3s ease;
        //background-color:"";
    }

    .paragraph:hover[b-fn92favctl]::after,
    .paragraph.highlighted[b-fn92favctl]::after {
        opacity: 1;
    }

    /************************************************************************/




    .hover-light p:hover[b-fn92favctl],
    .paragraph.highlighted[b-fn92favctl] {
        transition: background-color 0.3s ease;
    }


/***********************************/

.SuggestionBlock[b-fn92favctl] {
    background-color: var(--background3-color);
}

.SuggestionBlock:hover[b-fn92favctl] {
    background-color: var(--background4-color);
}





.SomeTexTo[b-fn92favctl]{
    color:red;
}




@media (max-width: 500px) {
    body[b-fn92favctl] {
        font-size: 16px;
        background-color: lightblue;
    }

    .SomeTexTo[b-fn92favctl] {
        color: green
    }
}
